DEBUG=True
SECRET_KEY=893475-2349578ijksdhjsd-87345jJHUys098 # random GUID-style string, replace with your own secret key in production
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173  # Vite dev server

# ezstream scheduler settings
SCHEDULER_UPLOAD_DIR=scheduler/uploads/
EZSTREAM_HOST=localhost
EZSTREAM_PORT=8000
EZSTREAM_PASSWORD=password
EZSTREAM_MOUNTPOINT=stream
EZSTREAM_FORMAT=mp3